# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-05-01
SANITY_API_READ_TOKEN=your_read_token
SANITY_API_WRITE_TOKEN=your_write_token

# Resend Email
RESEND_API_KEY=your_resend_api_key
CONTACT_EMAIL=nenmongapm@gmail.com

# Site Config
NEXT_PUBLIC_SITE_URL=https://khoancocnhoianphumy.vercel.app
NEXT_PUBLIC_SITE_NAME=CÔNG TY TNHH XÂY DỰNG THƯƠNG MẠI DỊCH VỤ AN PHÚ MỸ
